<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form
        action="/auth/register"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        {{!-- novalidate --}}
      >
        {{#if errorMessage}}
          <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        {{/if}}
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="firstName"
            value="{{oldInput.firstName}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            id="lastName"
            value="{{oldInput.lastName}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            value="{{oldInput.email}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Password confirm</label>
          <input
            type="password2"
            class="form-control"
            name="password2"
            id="password2"
            value="{{oldInput.password2}}"
            required
          />
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>