<!-- ========== card components start ========== -->
<section class="card-components pb-5">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="offset-3 col-md-6 my-5">
        <div class="title">
          <h2>Details - {{title}}</h2>
        </div>
      </div>
      <div class="offset-3 col-6">
        {{>productCard}}
      </div>
      <div class="offset-3 col-6">
        <a class="main-btn primary-btn btn-hover" href="/order/{{id}}/new">
          Buyurtma berish
        </a>
      </div>

    </div>

    <hr/>
    {{! Comment }}
    <div class="row mb-5">
      <div class="col-md-6 offset-3">
        <div class="card-body">
          {{#if errorMessage}}
            <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
          {{/if}}
          <form
            action="/{{id}}/details/comment"
            method="post"
            enctype="application/x-www-form-urlencoded"
          >
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                class="form-control"
                type="email"
                name="email"
                id="email"
              />
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Add Comment</label>
              <textarea
                class="form-control"
                name="comment"
                id="comment"
                rows="4"
              ></textarea>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <button type="submit" class="btn btn-primary mt-3 px-4">Add</button>
          </form>
        </div>
      </div>
    </div>

    {{! Comment list }}
    <div class="row">
      <div class="col-md-6 offset-3">
        {{#if comments}}
          {{#each comments}}
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">{{email}}</h5>
                    <p class="card-text">{{comment}}</p>
                    <p class="card-text"><small
                        class="text-body-secondary"
                      >{{createdAt}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
    
  </div>
</section>