<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <div class="row">
      {{#if productNotFound}}
        <h1>{{title}}</h1>
      {{else}}
        <div class="offset-3 col-md-6 my-5">
          <div class="title">
            <h2>{{title}}</h2>
          </div>
        </div>
        <div class="col-6">
            {{>productCard image=product.image title=product.title amount=product.amount isHidden=true}}
        </div>
        <div class="col-6">
          <form method="POST">
            <!-- input style start -->
            <div class="card-style mb-30">
              <h6 class="mb-25">Input Fields</h6>
              <div class="input-style-1">
                <label>FIO</label>
                <input type="text" placeholder="FIO" name="fio" />
              </div>

              <div class="select-style-1">
                <label>Region</label>
                <div class="select-position">
                  <select name="region">
                    <option value="">--Select--</option>
                    {{#each regions}}
                      <option value="{{id}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="input-style-1">
                <label>Phone</label>
                <input
                  type="text"
                  placeholder="Phone"
                  name="phone"
                  id="phone-mask"
                />
              </div>

              <button
                type="submit"
                class="main-btn primary-btn btn-hover"
              >Buyurtma berish</button>
            </div>
          </form>
          <!-- end card -->
          <!-- ======= input style end ======= -->
        </div>
      {{/if}}
    </div>
  </div>
</section>

<script>
  IMask( document.getElementById('phone-mask'), { mask: '+{998} 00 000-00-00' }
  )
</script>