<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <div class="row">
      {{#if productNotFound}}
        <h1>{{title}}</h1>
      {{else}}
        <div class="offset-3 col-md-6 my-5">
          <div class="title">
            <h2>{{title}}</h2>
          </div>
        </div> 
        <div class="col-6">
          {{>productCard image=product.image title=product.title amount=product.amount isHidden=true}}
          <hr />
          <!-- input style start -->
          <div class="card-style mb-30">
            <h6 class="mb-25">Customer</h6>
            <div class="d-flex gap-3 align-items-start justify-content-between">
              <div class="input-style-1">
                <label>FIO</label>
                <h2>{{order.fio}}</h2>
              </div>
              <div class="d-flex flex-column align-items-end gap-2">
                <p>
                  {{order.phone}}
                </p>
                <a href="tel:{{order.phone}}" class="main-btn light-btn square-btn btn-hover btn-sm rounded-full">
                  <i class="lni lni-phone"></i>
                </a>
              </div>
            </div>

            <div class="select-style-1">
              <label>Region</label>
              <h2>{{order.region.name}}</h2>
            </div>
          </div>
          <!-- end card -->
        </div>
        <div class="col-6">
          <div class="main-sticky-top">
            <div class="card-style mb-30">
              {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                  {{errorMessage}}
                </div>
              {{/if}}
              <form method="POST">
                <div class="input-style-1">
                  <label>Price (<small>Price of one product</small>)</label>
                  <input type="number" placeholder="Price" name="price" value="{{oldInput.price}}" autofocus />
                </div>
                <div class="input-style-1">
                  <label>Amount</label>
                  <input type="number" placeholder="Amount" name="amount" value="{{oldInput.amount}}"/>
                </div>
              
                <button
                  type="submit"
                  class="main-btn primary-btn btn-hover"
                >
                  Buyurtmani topshirish
                </button>
              </form>
            </div> 
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</section>

<script>
  IMask( document.getElementById('phone-mask'), { mask: '+{998} 00 000-00-00' }
  )
</script>