<!-- ========== card components start ========== -->
<section class="card-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          {{>wrapperTitle label="Products"}}
        </div>
        <!-- end col -->
        <div class="col-md-6">
          {{>breadcrumb}}
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="py-3 d-flex justify-content-end">
      <a href="/dashboard/products/add" class="main-btn  primary-btn btn-hover">
        <i class="lni lni-plus"></i>
        Mahsulot qo'shish
      </a>
    </div>

    <!-- ========== cards-styles start ========== -->
    <div class="cards-styles">
      <!-- ========= card-style-1 start ========= -->
      <div class="row">
        {{#if products}}
          {{#each products}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="card-style-1 mb-30 pt-0">
                <div class="card-image">
                  <a href="#0">
                    <img
                      style="height: 400px; width:100%; object-fit:cover"
                      src="{{image}}"
                      alt={{title}}
                    />
                  </a>
                </div>
                <div class="card-content">
                  <h4><a href="#0"> {{title}} </a></h4>
                  <p>
                    {{description}}
                  </p>
                  <b>{{amount}}</b>
                  <div class="mb-5"> </div>

                  <a class="main-btn success-btn square-btn btn-hover" href="/dashboard/products/{{id}}/update">Update</a>
                  <a class="main-btn danger-btn square-btn btn-hover" href="/dashboard/products/{{id}}/delete">Delete</a>

                </div>
              </div>
              <!-- end card-->
            </div>
          {{/each}}
        {{else }}
          <h1>Not found</h1>
        {{/if}}  
        
      </div>
      <!-- end row -->
      <!-- ========= card-style-1 end ========= -->
 
    </div>
    <!-- ========== cards-styles end ========== -->
  </div>
  <!-- end container -->
</section>
<!-- ========== card components end ========== -->